
{% load static %}
{% include "navbar.html" %}
<html>
        <head>
            <title>CROWD-VID | FORM PENERIMA</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <style>
                @import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
                @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

                .site-form input, .site-form textarea{
                    display: block;
                    font-family: 'Montserrat';
                    width: 100%;
                    border: 0px;
                    padding-inline-end: 10px;
                }

            </style>
        </head>


    <body>
        <div class = "container contentform">
        <div class= "row" style="padding: 25px;">
            <div>
                <h1 class="green3">Peraturan</h1>
                <br>
                <p class="white" style="text-align: justify; font-family: Montserrat;">Crowdvid merupakan platform 
                    crowdfunding yang dikhususkan bagi mereka yang
                     <b>terkena dampak ekonomi dari pandemi</b></p>
                <br> 
                <p class="white" style="text-align: justify; font-family: Montserrat;">Harap masukkan data yang valid agar kami bisa membantu kamu!</p>
                <br>
                <h1 class="green3">Lengkapi data di bawah ini</h1>
               <form class="site-form" action="" method="POST">
                   <div class="green3">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <br>
                    <input type = "submit" value="SELESAI" class="btn ma"> 
                </form>
    
            
            </div>

        </div>
        </div>

    </body>
    {% include "footer.html" %}

</html>

