{% extends "base.html" %}
{% load static %}

{% block meta %}
  <title> CROWD-VID | FORM TESTIMONI</title>
{% endblock meta %}
{% block content %}
<!doctype html>


<html lang="en">

  <body>
    <div class="container contentform">
      <div class="container">
        <br>
        <h1 class="green3">Testimoni</h1>
        <br>

        <form action="" method="POST" class="site-form green3">
          {% csrf_token %}
          {{ formulir }}
          <br>
          <div class = "centre-items" style = "margin-top: 2%">
            <input type = "submit" class="btn center ma" style="color: white;" value="SELESAI"> 
          </div>
        </form>

        <br>
      </div>
    </div>

  </body>

</html>
{% endblock content %}
